name: Test Coverage

on:
  pull_request:
    branches: [ main, develop, feature/** ]

jobs:
  test:
    name: Run Unit Tests and Upload Artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install pytest pytest-json-report coverage

      - name: Run Pytest with JSON output
        run: |
          pytest tests/ --json-report --json-report-file=pytest-report.json
          coverage run -m pytest tests/
          coverage xml -o coverage.xml

      - name: Upload pytest report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: pytest-report.json

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
